<% if (locals.errors) {%>
<ul
  class="min-w-full bg-stone-700 rounded-sm my-1 font-mono w-full max-w-sm lg:max-w-lg"
>
  <% errors.forEach(function(error) { %>
  <li><%= error.msg %></li>
  <% }); %>
</ul>
<% } %>
