<button
  class="flex grow min-w-full hover:*:-translate-y-1.5 hover:*:bg-amber-500 hover:*:border-yellow-700 self-center cursor-pointer"
  type="submit"
>
  <span
    class="grow p-2 rounded-sm border-b-8 border-yellow-600 bg-yellow-500 transition-all duration-350 ease-in-out shadow-md font-extrabold text-shadow-md"
    ><%=text%></span
  >
</button>
