<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message App</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body class="text-white font-sansation">
    <main
      class="flex flex-col bg-stone-800 min-h-dvh text-center text-xl md:text-2xl lg:text-3xl"
    >
      <div class="font-bold p-4 pt-8 pb-16">
        <h1>File Uploader 📂</h1>
      </div>
      <div class="flex flex-col gap-3 px-2 max-w-xl self-center">
        <p>Nice to see you! 👋</p>
        <div class="flex">
          <%- include('partials/linkBtn',{text: loginBtn, link: loginLink}) %>
        </div>
        <p>Not a user? Create your account👇</p>
        <div class="flex">
          <%- include('partials/linkBtn',{text: signupBtn, link: signupLink}) %>
        </div>
      </div>
    </main>
  </body>
</html>
