<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />

    <title><%= title%></title>
  </head>
  <body>
    <main>
      <h1>Log In</h1>
      <div>
        <%- include('partials/errors') %>
        <h1 class="text-3xl font-bold underline">Hello world!</h1>

        <form action="/log-in" method="POST">
          <label for="username">Username: </label>
          <input type="text" name="username" id="username" required />
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" required />
          <button type="submit">Submit</button>
        </form>
        <div>
          <p>Not a User?</p>
          <a href="/sign-up">Sign up</a>
        </div>
      </div>
    </main>
  </body>
</html>
