<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload a file</title>
  </head>
  <body>
    <h1>Upload a file</h1>

    <%- include('partials/errors') %>
    <form
      action="/folders/<%= folderId%>/upload"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="form-group">
        <input type="file" class="form-control-file" name="file" />
        <input type="submit" value="Upload File" />
      </div>
    </form>
  </body>
</html>
